button {
	background-color: orange;
	color: black;
	font-size: 20px;
	border-radius: 8px;
}

.container {
/*	width: 90%;
*/}


img.recipeImage {
	width: 15%;
	height: auto;
	margin: 10px 10px 10px 10px;
	vertical-align: 0px;
}

.images {
	box-sizing: border-box;
	border-style: double;
	padding: 10px;
	clear: both;
	width: 40%;
	float: left;
}

.recipeData {
	box-sizing: border-box;
	border-style: solid;
	width: 60%;
	height: 100%;
	float: left;
	border-color: orange;
}

#buttonDiv {
	float: left;
	width: 30%;
	margin: 50px 20% 50px 0;

}

#listDiv {
	position: relative;
	float:left;
	width: 40%;
}

#listPic {
	width: 100%;
}

image#mainPic {

width: 100%; 
display: block;

}

#getRecipe {
	margin: 10px auto auto auto;
}

#textList {
	position: absolute;
	top: 100px;
	left: 15px;
	font-size: 17.4px;
}

h1 {

font-family: 'Bevan', cursive;
color: orange;
font-size: 60px;
text-shadow: 0 0 2px #000000;


}

h2 {

color: orange;
font-size: 50px;
text-shadow: 0 0 3px #000;


}


h6 {

vertical-align: top;

}

.white-container {

background-color: white;


}

.buttonMain {

font-family: 'Open Sans', sans-serif;


}

.under {

	font-size: 20px;

}

#Meat {
    background-image: url( 'http://www.websiteresolutions.com/phptest/assets/images/meat.jpg' );
     background-size: 130px 85px;
    height: 85px;  
    width: 130px;

}

#Dairy {
    background-image: url( 'http://www.websiteresolutions.com/phptest/assets/images/dairy.jpg' );
    background-size: 130px 85px;
    height: 85px;  
    width: 130px;
}

#Fruits {
    background-image: url( 'http://www.websiteresolutions.com/phptest/assets/images/fruit.jpg' );
    background-size: 130px 85px;
    height: 85px;  
    width: 130px;
}

#Vegetables {
    background-image: url( 'http://www.websiteresolutions.com/phptest/assets/images/veggies.jpg' );
    background-size: 130px 85px;
    height: 85px;  
    width: 130px;

}

#Grains {
    background-image: url( 'http://www.websiteresolutions.com/phptest/assets/images/grains.jpg' );
   background-size: 130px 85px;
    height: 85px;  
    width: 130px;
}

#instructions {
	
color: black;
font-size: 20px;
margin: 25px 0 0 0;
text-align: center;


}

.groupButton {

margin-bottom: 50px;


}

.copy {

	text-align: center;
}

#output {


margin-top: 50px;


}