button {
	background-color: orange;
	color: black;
	font-size: 20px;
	border-radius: 8px;
}

#buttonDiv {
	float: left;
	width: 60%;
/*	margin-top: 50px;*/
}

#listDiv {
	position: relative;
	float:left;
	width: 40%;
}

#listPic {
	width: 100%;
}

#textList {
	position: absolute;
	top: 100px;
	left: 15px;
	font-size: 17.4px;
}